<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                        
            <h1>Please fill out your details</h1>
            <hr>
                        
    <form method="POST">
        {% csrf_token %}
        
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Eg John Doe">
        </div>

          
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email</label>
            <input type="text" class="form-control" id="email" name="email" placeholder="Eg demo@gmail.com">
        </div>
          
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Phone</label>
            <input type="text" class="form-control" id="phone" name="phone" placeholder="Eg 123 456 789">
        </div>
          
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">About you</label>
            <textarea type="text" class="form-control" id="summary" name="summary" placeholder="Eg Write something about you"></textarea>
        </div>
        
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Degree</label>
            <input type="text" class="form-control" id="degree" name="degree" placeholder="B-Tech Information Technology">
        </div>
          
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">School</label>
            <input type="text" class="form-control" id="school" name="school" placeholder="MIT">
        </div>
          
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">University</label>
            <input type="text" class="form-control" id="university" name="university" placeholder="MIT">
        </div>
          
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Previous work</label>
            <textarea type="text" class="form-control" id="previous_work" name="previous_work" placeholder="Programmer @XYZ"></textarea>
        </div>
          
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Skills</label>
            <textarea type="text" class="form-control" id="skills" name="skills" placeholder="Python, Java, C++, C#"></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
            </div>
        </div>
    </div>
</body>
</html>